<%- include('includes/header0') %>

<!-- header ends here -->

    <!-- ✅ NEW FLEX WRAPPER -->
    <div class="flex-wrapper">
      <div class="title-box">
        <h3>PAGE NOT FOUND</h3>
      </div>
    </div>

    <!-- ✅ NEW FLEX WRAPPER -->
    <div class="flex-wrapper">
      <!-- ✅ NEW INFO BOX -->
      <div class="image-box">
        <img src="https://iili.io/KVgLWqN.png" />
      </div>
    </div>
  </body>
</html>
