<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flex Web App</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Press+Start+2P&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Phonic:wght@400;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/main0.css" />
  </head>
  <body>
    <header>
      <div class="logo">
        <img src="https://iili.io/KVSeG6l.png" alt="MyApp Logo" style="height: 130px" />
      </div>
    </header>

    <!-- ✅ NEW FLEX WRAPPER -->
    <div class="flex-wrapper">
      <div class="welcome-title-box title-box">
        <h2>GREETINGS</h2>
        <br /><br />

        <div class="speech-bubble">
          <h4>Welcome to Sherwood Forest, <strong><%= user.username %></strong>. <br /><br />You are now part of a movement to bring the wealth building skills of the 1% to us all - check back again soon for updates!</h4>
        </div>
      </div>

      <!-- ✅ NEW IMAGE BOX -->
      <div class="image-box-LEFT">
        <img src="https://iili.io/KV4whtn.png" />
      </div>
      <div class="image-box-RIGHT">
        <img src="https://iili.io/KV4wgA7.png" />
      </div>
      <div class="image-box-TOP">
        <img src="https://iili.io/KV4NzVs.png" />
      </div>
      <div class="image-box-BOTTOM">
        <img src="https://iili.io/KV4NV0x.png" />
      </div>
    </div>
  </body>
</html>
